
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial;
}

#btn {
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: red;
    color: white;
}

#btn.correct {
    background-color: green;
}

#startBtn {
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: green;
}

#startBtn a {
    color: white;
    text-decoration: none;
}

#againBtn {
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: green;
    color: white;
}